*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin-top: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
.accumulator{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.accumulator .inputMoney{
    margin-top: 30px;
    margin-left: 40%;
    justify-content: center;
    width: 300px;
    height: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.accumulator .buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-left:39%;
}
.createAcc,.increaseAcc{
    height: 40px;
    width: 150px;
    margin-right: 30px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.name{
    margin-top: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.result{
    margin-left: 34%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.balance{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-right: 10px;
}
.accData{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: red;
    margin-right: 10px;
}
.rouble{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: red;
}